.gradient-custom-3 {
  /* fallback for old browsers */
  background: rgba(49, 225, 245, 0.555);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(49, 225, 245, 0.555),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(49, 225, 245, 0.555),
    rgba(143, 211, 244, 0.5)
  );
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: rgb(49, 225, 245);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(49, 225, 245),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(49, 225, 245),
    rgba(143, 211, 244, 1)
  );
  border: none;
}
